#city-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#zip-code-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#coordinates-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-item {
    margin-left: 5px;
    margin-right: 10px;
    font-weight: bold;
}